In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/jugendharia/Library/Python/3.9/lib/python/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/jugendharia/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/jugendharia/Library/Python/3.9/lib/python/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /Users/jugendharia/Library/Python/3.9/lib/python/site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("spotify_millsongdata.csv")

In [6]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [7]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [8]:
df.shape

(57650, 4)

In [9]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [10]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [11]:
df.head(10)

,artist,song,text
0,Christina Aguilera,Mercy On Me,"Lord, have mercy on my soul \r\nFor I have wa..."
1,Tina Turner,Unfinished Sympathy,"Baby, baby, baby \r\nI know that I've been ma..."
2,Ufo,Only You Can Rock Me,"Who's taking time out, we'll take a shine out ..."
3,Kid Rock,Blue Jeans And A Rosary,All my life I've been searchin' \r\nAll my li...
4,Janis Joplin,White Rabbit,One pill makes you larger \r\nAnd one pill ma...
5,George Michael,Cowboys And Angels,When your heart's in someone else's hands \r\...
6,Misfits,London Dungeon,They called us walking corpses \r\nUnholy liv...
7,Lady Gaga,Paparazzi,We are the crowd \r\nWe're c-coming out \r\n...
8,Lynyrd Skynyrd,Smokestack Lightning,I was sittin' at home all alone when I heard t...
9,Warren Zevon,Back In The High Life Again,It used to seem to me \r\nThat my life ran on...

In [12]:
df['text'][0]

"Lord, have mercy on my soul  \r\nFor I have walked the sinful road  \r\nThat I'm down on my knees  \r\nLord, have mercy on me, please  \r\n  \r\nOh yeah  \r\n  \r\nJesus, I must confess  \r\nThat in all my loneliness  \r\nI've forsaken, and I've sinned  \r\nLeaving fragments of a man so broken  \r\n  \r\nI could tell you what I've done  \r\nOr should I tell you where I went wrong?  \r\n  \r\nWell, the more that I start to play  \r\nMy deceitful, evil ways  \r\nKeep on growing stronger by the day  \r\n  \r\nOh lord, have mercy on my soul  \r\nFor I have walked a sinful road  \r\nSo I'm gonna get down on my knees  \r\nBeg forgiveness to help set me free  \r\nLord, have mercy on me, please  \r\n  \r\nMother Mary full of grace  \r\nIn my weakness, I've lost faith  \r\nI've been careless, and I have been warned  \r\nAnd the devil inside me is torn  \r\nGod bless the men that I have scorned  \r\n  \r\nOh lord, have mercy on my soul  \r\nFor I have walked the sinful road  \r\nSo I'm gonna get down on my knees  \r\nBeg forgiveness to help set me free  \r\nLord have mercy on me, please  \r\n  \r\nWhoa, whoa, yeah, yeah  \r\nWhoa, yeah, yeah, oh, oh  \r\nOh-oh yeah, yeah, yeah, oh  \r\n  \r\nSo don't let me fool around no more  \r\nSend your angels down to guide me through that door  \r\nWell, I've gone and confessed my regrets  \r\nAnd I pray I'm not held in contempt  \r\nI'm so lost, and I need you to help me repent  \r\n  \r\nOh lord, have mercy on my soul  \r\nOh, I'm begging, I'm pleading, I'm needing  \r\nI want you to know  \r\nSo I'm down upon my knees  \r\nOh lord, I need forgiveness  \r\nI need forgiveness from you\r\n\r\n"

In [13]:
# df = df.sample(5000)

In [14]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [16]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [ ]:
%pip install nltk

In [2]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [ ]:
import nltk
nltk.download('punkt')

In [5]:
import pandas as pd

df = pd.DataFrame() 

if 'text' in df.columns:
    df['text'] = df['text'].apply(lambda x: tokenization(x))

In [ ]:
%pip install -U scikit-learn

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [33]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [34]:
similarity[0]

array([1.        , 0.1472272 , 0.03726177, ..., 0.05593623, 0.1021396 ,
       0.03344816])

In [35]:
df[df['song'] == 'Crying Over You']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [7]:
def recommendation(song_df):
    matching_songs = df[df['song'] == song_df]
    if not matching_songs.empty:
        idx = matching_songs.index[0]
        distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])
        songs = []
        for i, _ in distances[:5]:
            songs.append(df['song'][i])
        return songs
    else:
        return "No matching songs found."

In [13]:
if 'song' in df.columns:
    recommendation(' Love is Song')
else:
    print("The 'song' column does not exist in the dataframe.")

The 'song' column does not exist in the dataframe.

In [41]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))